.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #e5ffcc;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 65%;
  background-color: white;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  align-items: center;
}

.input {
  display: flex;
  width: 75%;
  height: 25%;
  margin-top: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userInput {
  right: 10%;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 25%;
}
.login,
.signup {
  width: 100%;
  height: 35px;
  background-color: #e9ffe7;
  color: #5f8946;
  border: none;
  border-radius: 7px;
}
.login {
  margin-bottom: 3%;
}
.inputEmail {
  margin-bottom: 3%;
}
.inputEmail::placeholder {
  color: #dadada;
}

.inputPw::placeholder {
  color: #dadada;
}

.errorMessage {
  margin-left: 60px;
  color: #ef0000;
  font-size: 12px;
}

.login:disabled {
  background-color: #dadada;
  color: white;
}
